doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title My local weather
        link(rel='stylesheet' href='./styles.css')
        link(rel="shortcut icon", href="./img/icon-weather.png", type="image/x-icon")
    body 
        h1 MY LOCAL WEATHER
        button.button Get info
        
        .container.hide
            
                .out-1
                    p.city(title='Zhuliany, Kyiv, Ukraine')
                    p.airtemp

                .out-2
                    .w_icon
            
                .out-3
                    p.w_descr
                    p.wind
                    p.tempfeel 


        .out-4.hide
        .out-5.hide
            

        script(src='./script.js')