@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');


body {
    background: linear-gradient(5deg, rgb(190, 221, 193) 30%, rgb(223, 255, 251) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    max-height: fit-content;
    min-height: 730px;
    font-family: 'sintony', sans-serif;
    background-size: cover;
}

h1 {
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.322);
    color: rgb(58, 150, 5);
}

.button {
    margin: 0 auto;
    display: block;
    background: linear-gradient(25deg, rgba(6, 193, 255, 0.7) 39%, rgb(39, 42, 83) 96%) center center / 400px 300px, rgb(88, 195, 231);


    border-radius: 5px;
    border: 1px solid green;
    box-shadow: 0 0 5px rgb(151, 155, 151);
    height: 30px;
    width: 70px;
    color: #ffffff;
    font-family: 'sintony', sans-serif;
    font-weight: 900;
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.01);
}

.button:active {
    box-shadow: 0 0 10px green;
}

.container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 13px;
    box-shadow: 0px 0px 10px grey;
    max-width: fit-content;
    border-radius: 8%;

}

.out-1,
.out-2,
.w_icon,
.out-3 {
    height: 90px;
    background:
        linear-gradient(25deg, rgba(6, 193, 255, 0.7) 39%, rgb(39, 42, 83) 96%) center center / 400px 300px, rgb(88, 195, 231);
}


.out-2 {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
}

.w_icon {
    justify-content: center;
    display: flex;
    align-items: center;
    max-height: fit-content;
}



.out-1 {

    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    border-left: 2px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    padding: 5px 8px;
    text-align: center;
    width: 110px;
}

.out-1>p:first-child {
    margin-top: 13px;
}

.out-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    padding: 5px 8px;
    text-align: center;
    width: 110px;
}

.out-3>p {
    margin: 0;
}

p {
    color: #ffffff;
    font-weight: 900;
}


.city,
.airtemp {
    font-size: large;
}


.tempfeel,
.w_descr,
.wind {
    font-size: 80%;
}

.out-5 {
    margin: 0 auto;
    margin-bottom: 35px;
    max-height: fit-content;
    max-width: fit-content;
    position: relative;
    left: 35%;
    bottom: 25%;
    animation: runner 3s linear 0s 1 normal forwards;
    background-size: cover;
}





@keyframes runner {
    0% {
        transform: rotate(-5deg) scale(0.1);
    }

    100% {
        transform: rotate(8deg) scale(1.0);
    }
}


.out-4.show {
    opacity: 1;
}

.out-5>img {
    margin-top: 11px;
    max-height: 280px;
    border-radius: 8%;
    border: 2px solid green;
    box-shadow: 0 0 10px rgb(151, 155, 151);
}

.out-4 {
    width: 226px;
    justify-content: center;
    margin: 0px auto;
    margin-top: 40px;
    transition: opacity 3s ease;
    opacity: 0;

}

.out-4>img {

    max-width: 220px;
    border-radius: 8%;
    border: 2px solid green;
    box-shadow: 0 0 10px rgb(151, 155, 151);

}

.out-4>p {
    color: rgb(0, 78, 131);
    text-align: center;
    text-shadow: 0px 0px 15px rgb(13, 196, 13);
    padding: 0 5px 0 5px;
}

.out-5 div>p {
    color: rgb(0, 78, 131);
    text-shadow: 0px 0px 15px rgb(13, 196, 13);

}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(5deg, rgb(190, 221, 193) 30%, rgb(223, 255, 251) 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 150, 5);
}

::-webkit-scrollbar-track {
    background: linear-gradient(5deg, rgb(190, 221, 193) 30%, rgb(223, 255, 251) 100%);
}


.hide {
    display: none;
}

@media (max-height:527px) {
    body {
        height: auto;
    }
}

@media (max-width:1100px) {
    .out-5>img {
        margin: 3px 0 0 4px;
        max-height: 200px;
    }
}

@media (max-width:830px) {

    body {
        height: 1050px;
        max-height: fit-content;
    }

    h1 {
        margin-top: 20px;
    }

    .out-5 {
        position: static;
        margin-top: 20px;
    }

    .out-5>img {
        margin-top: 0;
        max-height: 200px;
    }

}



@media (max-width:337px) {


    .out-1 p {
        margin-top: 19px;
        font-size: clamp(15px, 4vw, 18px);
    }

    .w_icon {
        width: 80px;
    }

    .out-3 p {
        font-size: clamp(10px, 4vw, 12px);
    }
}