body {
    /* background: rgb(223, 255, 251); */
    background: linear-gradient(5deg, rgb(190, 221, 193) 30%, rgb(223, 255, 251) 100%);
    /* border-radius: 8%; */
    background-repeat: no-repeat;
    height: 1000px;
    max-height: min-content;




}

h1 {
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 1px 1px 1px grey;
    color: rgba(12, 105, 12, 0.849)
}

.button {
    /* justify-content: center;
    position: absolute;
    left: 43%; */

    margin: 0 auto;

    display: block;

    /* position: absolute;
    left: 47.5%; */



    background: linear-gradient(25deg, rgba(6, 193, 255, 0.7) 39%, rgb(39, 42, 83) 96%) center center / 400px 300px, rgb(88, 195, 231);
    /* background-color: rgb(84, 167, 139); */
    color: rgb(255, 254, 254);
    text-decoration: double;
    border-radius: 5px;
    border: 1px solid green;
    height: 30px;
    width: 80px;

    color: #ffffff;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.01);
}

.container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    box-shadow: 0px 0px 10px grey;

    max-width: fit-content;
    border-radius: 8%;


    /* margin-top: 60px; */

}








.out-1,
.out-2,
.w_icon,
.out-3 {

    max-height: 107px;
    /* max-width: 130px; */
    width: 102px;
    /* max-width: fit-content; */
    background:
        linear-gradient(25deg, rgba(6, 193, 255, 0.7) 39%, rgb(39, 42, 83) 96%) center center / 400px 300px, rgb(88, 195, 231);

}


.out-2 {
    border-top: 2px solid green;

    border-bottom: 2px solid green;
    /* align-items: center;
    justify-content: center; */
    display: flex;
    align-items: center;
    /* box-shadow: 0px 10px 8px -7px rgb(151, 155, 151),
        0px -10px 8px -7px rgb(151, 155, 151),
        -8px 10px 0px 0px rgb(151, 155, 151); */


}

.out-1 {
    border-top-left-radius: 8%;
    border-bottom-left-radius: 8%;
    border-left: 2px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    padding: 5px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    /* box-shadow: 0px 10px 8px -7px rgb(151, 155, 151),
        0px -10px 8px -7px rgb(151, 155, 151),
        -10px 0px 8px -7px rgb(151, 155, 151);
    
    0 10px -10px -10px rgb(151, 155, 151); */
}

.out-3 {
    border-top-right-radius: 8%;
    border-bottom-right-radius: 8%;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    padding: 5px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    /* box-shadow: 0px 10px 8px -7px rgb(151, 155, 151),
        0px -10px 8px -7px rgb(151, 155, 151),
        10px 0px 8px -7px rgb(151, 155, 151); */
}

p {
    color: #ffffff;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.city,
.airtemp {
    font-size: large;
}


.tempfeel,
.w_descr,
.wind {
    font-size: 80%;
}

.out-4 {
    position: absolute;
    top: 60%;
    right: 5%;
    /* transition: opacity 2s ease;
    opacity: 0; */
}

.out-4.show {
    opacity: 1;


}

.out-5.show {
    opacity: 1;
}

.out-4>img {
    max-height: 300px;
    border-radius: 8%;
    border: 3px solid green;
    transform: rotate(8deg);
    box-shadow: 0 0 10px rgb(151, 155, 151);






}

.out-5 {
    width: 200px;
    /* height: 250px; */
    /* background-color: rebeccapurple; */
    margin: 0px auto;
    margin-top: 40px;
    transition: opacity 2s ease;
    opacity: 0;

}

.out-5>img {

    max-width: 200px;
    border-radius: 8%;
    border: 3px solid green;
    box-shadow: 0 0 10px rgb(151, 155, 151);

}

.out-5>p {
    color: green;
    text-align: center;
}


.hide {
    display: none;

}